# 1. Create the virtual environment with uv if it doesn't exist
if [ ! -d ".venv" ]; then
  uv venv
fi

# 2. Add the virtual environment to your PATH so it's active
PATH_add .venv/bin

if [ -f "requirements.txt" ]; then
  uv pip install -r requirements.txt
fi